
footer {
    width: 100%;
    background-color: #3586ff;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
}


/* סמלילים ותפריט */
footer .social_icon,
footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

/* רשימות */
footer .social_icon li,
footer .menu li {
    list-style: none;
}

/* קישורים */
footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.5s;
}

footer .menu li a:hover {
    opacity: 1;
}

/* טקסט בפוטר */
footer p {
    color: #fff;
    text-align: center;
    margin: 15px 0 10px;
    font-size: 1.1em;
}

