.new-modal-header {
    font-size: large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    z-index: 1000;
}

.new-modal-container {
    z-index: 1000;
    /* או ערך גבוה יותר */
    position: fixed;
    /* חובה */
    top: 50%;
    /* מיקום במרכז המסך */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* ודאי שהוא נראה */
}


.new-modal-flexer {
    display: flex;
}

.new-modal-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.new-modal-submit-btn {
    border-radius: 8px;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    background-color: black;
    color: white;
    height: 40px;
}

.new-modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.new-modal-inner {
    width: 70vw;
    height: 70vh;
    background-color: white;
    top: 50%;
    /* מיקום במרכז המסך */
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-form {
    display: flex;
    flex-direction: column;
}
