body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.navbar .logo img {
    height: 100px;
}

.navbar-right a img {
    height: 20px;
}

.navbar-right a {
    margin-left: 15px;
}
