.edit-modal-container {
    line-height: 56px;
}

.edit-line-flexer {
    display: flex;
    justify-content: space-between;
}

#edit-input {
    height: 60%;
    width: 70%;
    position: relative;
    top: 8px;
    margin-left: 2px;
}

.edit-inline-flexer {
    display: flex;
    align-items: center;
    max-width: 80%;
}

.submit-btn {
    border-radius: 3px;
    border: none;
    height: 36px;
    top: 8px;
    position: relative;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-overflow {
    max-width: 70%;
    max-height: 56px;
    overflow: hidden;
}

.edit-modal-header {
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.edit-modal-btn-container {
    display: flex;
    justify-content: center;
}

.edit-submit-btn {
    border-radius: 8px;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    background-color: black;
    color: white;
}