.form-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
}
.custom-input-group input {
  width: 100%; /* תופס את כל הרוחב */
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box; /* מתחשב בפדינג */
}
.form-close-button{
  background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #dc3545;
    margin-inline-end:auto;
}
.login-button, .signup-button {
  width: 100%; /* כפתורים מותאמים לרוחב */
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
}


.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* עיצוב קישורים */
.toggle-form, .forgot-password {
  font-size: 0.9rem;
  text-align: center;
  color: #007bff;
  cursor: pointer;
}